$alignment: (
  "start": flex-start,
  "center": center,
  "end": flex-end
);

// FLEX ROW & COLUMN
.vp-flex-row {
  display: flex;
}

.vp-flex-wrap {
  flex-wrap: wrap;
}

.vp-flex-column {
  display: flex;
  flex-direction: column;

  &--emphasis {
    border-left: 4px solid var(--color-white);
    padding-left: var(--base-number-x-2);
  }
}

@each $key, $value in $alignment {
  // TEXT ALIGNMENT
  .vp-text-align\:#{$key} {
      text-align: $value;
  }

  // HORIZONTAL ALIGNMENT OF FLEX CHILDREN
  .vp-flex-align-items-h\:#{$key} {
    &.vp-flex-row {
      justify-content: $value;
    }

    &.vp-flex-column {
      align-items: $value;
    }
  }

  // HORIZONTAL SELF-ALIGNMENT OF A FLEX CHILD
  .vp-flex-align-self-h\:#{$key} {
    align-self: $value;
  }

  // VERTICAL ALIGNMENT OF FLEX CHILDREN
  .vp-flex-align-items-v\:#{$key} {
    &.vp-flex-row {
      align-items: $value;
    }

    &.vp-flex-column {
      justify-content: $value;
    }
  }
}

// HORIZONTAL & VERTICAL CENTER ALIGNMENT OF FLEX CHILDREN
.vp-flex-align-items\:center {
  align-items: center;
  justify-content: center;
}