// GRADIENTS
.vp-bg-gradient-dark {
  background-image: linear-gradient(45deg, #00195d, var(--color-theme-a-100));
}

// SOLID
.vp-bg-solid-white {
  background-color: var(--color-white);
}

.vp-bg-solid-gray-10 {
  background-color: var(--color-gray-10);
}