@import "../mixins/breakpoints";
@import "../css-variables/base-number";

// COLUMNS & COLUMN-SPAN
@for $i from 1 through 12 {
  .vp-grid-columns\:#{$i} {
    display: grid;
    grid-template-columns: repeat(#{$i}, 1fr);
  }

  .vp-grid-column-span\:#{$i} {
    grid-column: span #{$i};
  }

  @include breakpoint-xs {
    .vp-xs-grid-columns\:#{$i} {
      display: grid;
      grid-template-columns: repeat(#{$i}, 1fr);
    }

    .vp-xs-grid-column-span\:#{$i} {
      grid-column: span #{$i};
    }
  }

  @include breakpoint-s {
    .vp-s-grid-columns\:#{$i} {
      display: grid;
      grid-template-columns: repeat(#{$i}, 1fr);
    }

    .vp-s-grid-column-span\:#{$i} {
      grid-column: span #{$i};
    }
  }

  @include breakpoint-m {
    .vp-m-grid-columns\:#{$i} {
      display: grid;
      grid-template-columns: repeat(#{$i}, 1fr);
    }

    .vp-m-grid-column-span\:#{$i} {
      grid-column: span #{$i};
    }
  }
}

// GAP
@for $i from 1 through 10 {
  .vp-grid-gap\:#{$i} {
    grid-gap: #{$base-number * $i}px;
  }

  .vp-grid-gap-h\:#{$i} {
    column-gap: #{$base-number * $i}px;
  }

  .vp-grid-gap-v\:#{$i} {
    row-gap: #{$base-number * $i}px;
  }

  @include breakpoint-xs {
    .vp-xs-grid-gap\:#{$i} {
      grid-gap: #{$base-number * $i}px;
    }

    .vp-xs-grid-gap-h\:#{$i} {
      column-gap: #{$base-number * $i}px;
    }

    .vp-xs-grid-gap-v\:#{$i} {
      row-gap: #{$base-number * $i}px;
    }
  }

  @include breakpoint-s {
    .vp-s-grid-gap\:#{$i} {
      grid-gap: #{$base-number * $i}px;
    }

    .vp-s-grid-gap-h\:#{$i} {
      column-gap: #{$base-number * $i}px;
    }

    .vp-s-grid-gap-v\:#{$i} {
      row-gap: #{$base-number * $i}px;
    }
  }

  @include breakpoint-m {
    .vp-m-grid-gap\:#{$i} {
      grid-gap: #{$base-number * $i}px;
    }

    .vp-m-grid-gap-h\:#{$i} {
      column-gap: #{$base-number * $i}px;
    }

    .vp-m-grid-gap-v\:#{$i} {
      row-gap: #{$base-number * $i}px;
    }
  }
}

// layout for grids
@include breakpoint-s {
  .vp-grid-regular {
    grid-column: 2 / span 10;
  }
}

@include breakpoint-m {
  .vp-grid-regular {
    grid-column: 3 / span 8;
  }
}