@import "../css-variables/base-number";
@import "../mixins/breakpoints";

// HORIZONTAL GUTTER
@for $i from 1 through 10 {
  .vp-gutter-h\:#{$i} {
    > * {
      margin-right: #{$base-number * $i}px !important;

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  @include breakpoint-xs {
    .vp-xs-gutter-h\:#{$i} {
      > * {
        margin-right: #{$base-number * $i}px !important;

        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }

  @include breakpoint-s {
    .vp-s-gutter-h\:#{$i} {
      > * {
        margin-right: #{$base-number * $i}px !important;

        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }

  @include breakpoint-m {
    .vp-m-gutter-h\:#{$i} {
      > * {
        margin-right: #{$base-number * $i}px !important;

        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }
}

// VERTICAL GUTTER
@for $i from 1 through 10 {
  .vp-gutter-v\:#{$i} {
    > * {
      margin-bottom: #{$base-number * $i}px !important;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  @include breakpoint-xs {
    .vp-xs-gutter-v\:#{$i} {
      > * {
        margin-bottom: #{$base-number * $i}px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  @include breakpoint-s {
    .vp-s-gutter-v\:#{$i} {
      > * {
        margin-bottom: #{$base-number * $i}px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  @include breakpoint-m {
    .vp-m-gutter-v\:#{$i} {
      > * {
        margin-bottom: #{$base-number * $i}px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}