@import "../css-variables/base-number";
@import "../mixins/breakpoints";

// HORIZONTAL INSET
@for $i from 1 through 15 {
  .vp-inset-h\:#{$i} {
    padding-left: #{$base-number * $i}px;
    padding-right: #{$base-number * $i}px;
  }

  @include breakpoint-xs {
    .vp-xs-inset-h\:#{$i} {
      padding-left: #{$base-number * $i}px;
      padding-right: #{$base-number * $i}px;
    }
  }

  @include breakpoint-s {
    .vp-s-inset-h\:#{$i} {
      padding-left: #{$base-number * $i}px;
      padding-right: #{$base-number * $i}px;
    }
  }

  @include breakpoint-m {
    .vp-m-inset-h\:#{$i} {
      padding-left: #{$base-number * $i}px;
      padding-right: #{$base-number * $i}px;
    }
  }
}

// VERTICAL INSET
@for $i from 1 through 15 {
  .vp-inset-v\:#{$i} {
    padding-bottom: #{$base-number * $i}px;
    padding-top: #{$base-number * $i}px;
  }

  @include breakpoint-xs {
    .vp-xs-inset-v\:#{$i} {
      padding-bottom: #{$base-number * $i}px;
      padding-top: #{$base-number * $i}px;
    }
  }

  @include breakpoint-s {
    .vp-s-inset-v\:#{$i} {
      padding-bottom: #{$base-number * $i}px;
      padding-top: #{$base-number * $i}px;
    }
  }

  @include breakpoint-m {
    .vp-m-inset-v\:#{$i} {
      padding-bottom: #{$base-number * $i}px;
      padding-top: #{$base-number * $i}px;
    }
  }
}

// ALL SIDES
@for $i from 1 through 15 {
  .vp-inset\:#{$i} {
    padding: #{$base-number * $i}px;
  }

  @include breakpoint-xs {
    .vp-xs-inset\:#{$i} {
      padding: #{$base-number * $i}px;
    }
  }

  @include breakpoint-s {
    .vp-s-inset\:#{$i} {
      padding: #{$base-number * $i}px;
    }
  }

  @include breakpoint-m {
    .vp-m-inset\:#{$i} {
      padding: #{$base-number * $i}px;
    }
  }
}