@import "../css-variables/base-number";
@import "../mixins/breakpoints";

// HEIGHT
@for $i from 1 through 20 {
  .vp-height\:#{$i} {
    height: #{$base-number * $i}px;
  }

  @include breakpoint-xs {
    .vp-xs-height\:#{$i} {
      height: #{$base-number * $i}px;
    }
  }

  @include breakpoint-s {
    .vp-s-height\:#{$i} {
      height: #{$base-number * $i}px;
    }
  }

  @include breakpoint-m {
    .vp-m-height\:#{$i} {
      height: #{$base-number * $i}px;
    }
  }
}

// WIDTH
@for $i from 1 through 20 {
  .vp-width\:#{$i} {
    width: #{$base-number * $i}px;
  }

  @include breakpoint-xs {
    .vp-xs-width\:#{$i} {
      width: #{$base-number * $i}px;
    }
  }

  @include breakpoint-s {
    .vp-s-width\:#{$i} {
      width: #{$base-number * $i}px;
    }
  }

  @include breakpoint-m {
    .vp-m-width\:#{$i} {
      width: #{$base-number * $i}px;
    }
  }
}