<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head {{ HEAD_ATTRS }}>
    {{ HEAD }}
</head>
<body {{ BODY_ATTRS }}>
<form name="contact" method="POST" action="/thankyou" data-netlify="true" data-netlify-honeypot="bot-field" hidden>
    <input type="text" name="Naam" />
    <input type="text" name="Email" />
    <textarea name="Bericht" />
</form>
{{ APP }}
</body>
</html>