@import "css-variables/_css-variables";
@import "mixins/_mixins";
@import "tokens/_tokens";

// GLOBAL STYLING
* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  margin: 0;
  background-color: var(--color-theme-a-100);
}

.vp-page-layout {
  min-height: 100vh;
}