<template>
  <div
    class="vp-accordion-item"
    :class="{'vp-accordion-item--open': !collapsed}"
  >
    <div
      @click="handleToggle"
      class="vp-accordion-item-heading vp-flex-row vp-gutter-h:3 vp-inset:2 vp-s-inset:3"
    >
      <slot name="accordion-header" />
      <div class="vp-accordion-item-toggle-indicator"></div>
    </div>
    <div class="vp-accordion-item-body" ref="body">
      <div class="vp-accordion-item-body-content">
        <slot name="accordion-body" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'vp-accordion-item',

  data() {
    return {
      collapsed: true
    }
  },

  methods: {
    handleToggle() {
      this.collapsed = !this.collapsed

      this.applyMaxHeight()
    },

    applyMaxHeight() {
      this.$refs.body.style.maxHeight = !this.collapsed ? `${this.$refs.body.scrollHeight}px` : '0'
    }
  },

  // mounted() {
  //   window.addEventListener('resize', () => {
  //     this.applyMaxHeight()
  //   })
  // }
}
</script>

<style lang="scss">
@import "~/assets/scss/mixins/breakpoints";

  .vp-accordion-item {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);

    .vp-heading {
      color: var(--color-theme-a-100);
      transition: .15s ease-out;
    }

    &--open {
      .vp-accordion-item-toggle-indicator {
        &:before {
          left: 10px;
          top: 12px;
          transform: rotate(315deg);
        }
      }
    }
  }

  .vp-accordion-item-heading {
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    &:hover {
      .vp-heading {
        color: var(--color-b-100);
      }
    }
  }

  .vp-accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height .33s ease-out;

    &-content {
       padding: 0 var(--base-number-x-3) var(--base-number-x-3) var(--base-number-x-3);
    }
  }

  .vp-accordion-item-toggle-indicator {
    flex: none;
    height: var(--base-number-x-4);
    width: var(--base-number-x-4);
    position: relative;

    &:before {
      border-style: solid;
      border-width: 2px 2px 0 0;
      border-radius: 1px 0 1px 9px;
      content: '';
      position: absolute;
      transform: rotate(135deg);
      width: 7px;
      height: 7px;
      transition: .33s ease-out;
      transform-origin: center center;
      top: 8px;
      left: 10px;
    }
  }
</style>