<template>
  <form
    action="/thankyou"
    data-netlify="true"
    data-netlify-honeypot="bot-field"
    class="vp-contact-form vp-flex-column vp-gutter-v:3"
    method="POST"
    name="contact"
    @submit="handleFormValidation"
  >
    <input type="hidden" name="form-name" value="contact" />
    <vp-input
      label-for="Naam"
      label-text="Naam"
      name="Naam"
      error-message="Vul je voornaam en/of achternaam in."
      ref="nameField"
      @blur="validateNameField"
    />
    <vp-input
      label-for="E-mail"
      label-text="E-mail"
      name="Email"
      error-message="Vul een geldig e-mailadres in."
      ref="emailField"
      @blur="validateEmailField"
    />
    <vp-textarea
      label-for="Bericht"
      label-text="Bericht"
      name="Bericht"
      error-message="Het bericht is te kort. Stel hier jouw vraag."
      ref="messageField"
      @blur="validateMessageField"
    />
    <button
      type="submit"
      value="Verzenden"
      class="vp-link-button vp-flex-align-self-h:center"
    >
      Bericht verzenden
    </button>
  </form>
</template>

<script>
import VpInput from '@/components/input'
import VpTextarea from '@/components/textarea'

export default {
  name: 'vp-contact-form',

  data () {
    return {
      formInputErrors: [],
      allowValidationOnBlur: false
    }
  },

  components: {
    VpTextarea,
    VpInput
  },

  methods: {
    handleFormValidation(e) {
      // collect all input field errors, start empty
      this.formInputErrors = []

      // the form has been submitted at least once,
      // allow input field validation on blur from this point
      this.allowValidationOnBlur = true

      // validate the input fields
      this.validateNameField()
      this.validateEmailField()
      this.validateMessageField()

      // prevent the form-submit event if field errors are present
      if (this.formInputErrors.length > 0) {
        e.preventDefault()
      }
    },

    validateNameField () {
      if (this.allowValidationOnBlur) {
        if (this.$refs.nameField.$data.inputValue.length <= 1) {
          this.formInputErrors.push('naam')
          this.$refs.nameField.$data.errorState = true
        } else {
          this.$refs.nameField.$data.errorState = false
        }
      }
    },

    // use regex to check if the e-mail address has a valid structure
    validateEmailField () {
      if (this.allowValidationOnBlur) {
        if (!/\S+@\S+\.\S+/.test(this.$refs.emailField.$data.inputValue)) {
          this.formInputErrors.push('email')
          this.$refs.emailField.$data.errorState = true
        } else {
          this.$refs.emailField.$data.errorState = false
        }
      }
    },

    // check if the length of the message isn't too short
    validateMessageField () {
      if (this.allowValidationOnBlur) {
        if (this.$refs.messageField.$data.inputValue.length < 25) {
          this.formInputErrors.push('bericht')
          this.$refs.messageField.$data.errorState = true
        } else {
          this.$refs.messageField.$data.errorState = false
        }
      }
    }
  }
}
</script>