<template>
  <footer class="vp-footer">
    <vp-section>
      <div class="vp-flex-column vp-gutter-v:5 vp-s-gutter-v:8">
        <div class="vp-flex-column vp-flex-align-items-h:start vp-gutter-v:4">
          <nuxt-link class="vp-link" to="/">
            <vp-logo class="vp-height:5" />
          </nuxt-link>
          <nuxt-link class="vp-link vp-link--underline vp-link--on-dark"
             v-for="navigationLink in navigationLinks"
             :key="navigationLink.key"
             :to="navigationLink.route"
             on-dark
          >
            {{ navigationLink.label }}
          </nuxt-link>
        </div>
        <div class="vp-flex-column vp-gutter-v:4">
          <div class="vp-flex-row vp-flex-align-items-h:center vp-gutter-h:4">
            <vp-link href="https://nl.linkedin.com/in/pimsteketee" on-dark>
              <vp-social-icon icon-name="linkedin" class="vp-height:3"/>
            </vp-link>
            <vp-link href="https://codepen.io/pims" on-dark>
              <vp-social-icon icon-name="codepen" class="vp-height:3"/>
            </vp-link>
          </div>
          <div class="vp-flex-row vp-flex-align-items-h:center vp-gutter-h:1">
            <vp-text on-dark class="vp-text--small">© {{ currentYear }} van Pim</vp-text>
            <vp-text on-dark class="vp-text--small">|</vp-text>
            <vp-text on-dark class="vp-text--small">KVK-nummer: {{ kvkNumber }}</vp-text>
          </div>
        </div>
      </div>
    </vp-section>
  </footer>
</template>

<script>
// JSON
import siteData from '@/json/siteData.json'

// VUE COMPONENTS
import VpText from '@/components/text'
import VpLink from '@/components/link'
import VpSocialIcon from '@/components/social-icon'
import VpLogo from '@/components/logo'
import VpSection from '~/components/section'

export default {
  name: 'vp-footer',

  data() {
    return {
      navigationLinks: siteData.navigationLinks,
      kvkNumber: siteData.kvkNumber
    }
  },

  components: {
    VpSection,
    VpLogo,
    VpSocialIcon,
    VpLink,
    VpText
  },

  computed: {
    currentYear () {
      const date = new Date()
      return date.getFullYear()
    }
  }
}
</script>

<style lang="scss">
@import "~/assets/scss/mixins/breakpoints";

  .vp-footer {
    background-color: var(--color-theme-a-100);
    padding-bottom: var(--base-number-x-2);
    padding-top: var(--base-number-x-4);

    @include breakpoint-xs {
      padding-top: var(--base-number-x-6);
    }
  }
</style>