<template>
  <header class="vp-header">
    <slot />
  </header>
</template>

<script>
export default {
  name: 'vp-header',
}
</script>

<style lang="scss">
  .vp-header {
    position: relative;
    z-index: 10;
  }
</style>