<template>
  <component
    :is="'h' + tagLevel"
    class="vp-heading"
    :class="classes"
  >
    <slot />
  </component>
</template>

<script>
  export default {
    name: 'vp-heading',

    props: {
      onDark: {
        type: Boolean
      },

      tagLevel: {
        type: String,
        required: true
      },

      visualLevel: {
        type: String
      }
    },

    computed: {
      classes() {
        return [
          this.visualLevel ? 'is-h' + this.visualLevel : null,
          this.onDark ? 'vp-heading--on-dark' : null
        ]
      }
    }
  }
</script>

<style lang="scss">
@import "~/assets/scss/mixins/breakpoints";

  .vp-heading {
    margin: 0;

    &--on-dark {
      color: var(--color-white) !important;
    }
  }

  h1,
  .is-h1 {
    color: var(--color-theme-a-100);
    font-size: var(--font-primary-heading-size-xl);
    font-weight: var(--font-primary-weight-bold);
    line-height: var(--font-primary-line-height-xs);
  }

  h3,
  .is-h3 {
    color: var(--color-theme-b-100);
    font-size: var(--font-primary-heading-size-m);
    font-weight: var(--font-primary-weight-bold);
    line-height: var(--font-primary-line-height-s);
  }

  h4,
  .is-h4 {
    font-size: var(--font-primary-heading-size-s);
    font-weight: var(--font-primary-weight-bold);
    line-height: var(--font-primary-line-height-m);
  }

  h5,
  .is-h5 {
    color: var(--color-theme-a-100);
    font-size: var(--font-primary-heading-size-xs);
    font-weight: var(--font-primary-weight-bold);
    line-height: var(--font-primary-line-height-m);
  }

  @include breakpoint-s {
    h1,
    .is-h1 {
      font-size: var(--font-primary-heading-size-xxl);
    }
  }
</style>