<template>
  <div class="vp-flex-column vp-gutter-v:1">
    <vp-label class="vp-flex-align-self-h:start" :for="labelFor">
      {{ labelText }}
    </vp-label>
    <input
      @blur="$emit('blur')"
      v-model="inputValue"
      :id="labelFor"
      type="text"
      class="vp-input"
      :class="{'vp-input--error': errorState}"
      :name="name"
    />
    <vp-text
      v-if="errorState"
      class="vp-error-message vp-inset-h:1"
    >
      {{ errorMessage }}
    </vp-text>
  </div>
</template>

<script>
import VpText from '@/components/text'
import VpLabel from '@/components/label'

export default {
  name: 'vp-input',

  components: {
    VpLabel,
    VpText
  },

  data() {
    return {
      errorState: false,
      inputValue: ''
    }
  },

  props: {
    errorMessage: {
      type: String
    },

    labelFor: {
      type: String,
      required: true
    },

    labelText: {
      type: String,
      required: true
    },

    name: {
      type: String,
      required: true
    },
  },
}
</script>

<style lang="scss">
  @import "~/assets/scss/mixins/input-field";

  .vp-input {
    @include input-field;
  }
</style>