<template>
  <label class="vp-label">
    <slot />
  </label>
</template>

<script>
export default {
  name: 'vp-label',
}
</script>

<style lang="scss">
  .vp-label {
    color: var(--color-theme-a-100);
    font-size: var(--font-primary-text-size-l);
    font-weight: var(--font-primary-weight-medium);
    line-height: var(----font-primary-line-height-s);
  }
</style>