<template>
  <a
    class="vp-link"
    :class="onDark ? 'vp-link--on-dark' : null"
    rel="noopener noreferrer"
    target="_blank"
  >
    <slot />
  </a>
</template>

<script>
export default {
  name: 'vp-link',

  props: {
    onDark: {
      type: Boolean
    }
  }
}
</script>

<style lang="scss">
  // TEXT LINK
  .vp-link {
    color: var(--color-b-100);
    display: inline-flex;
    font-size: var(--font-primary-text-size-l);
    font-weight: var(--font-primary-weight-regular);
    text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

    &--on-dark {
      color: var(--color-white);
    }

    &--text-size-l {
      font-size: var(--font-primary-heading-size-l);
      font-weight: var(--font-primary-weight-light);
      letter-spacing: .75px;
    }

    &--semi-bold {
      font-weight: var(--font-primary-weight-semi-bold);
    }

    &--underline {
      position: relative;

      &:before {
        background-color: var(--color-white);
        bottom: 3px;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 1px;
        position: absolute;
        transition: .25s ease-out;
      }

      &:hover {
        text-decoration: none;

        &:before {
          width: 100%;
        }
      }

      .vp-nav-bar & {
        &.nuxt-link-exact-active {
          &:before {
            width: 100%;
          }
        }
      }
    }

    .vp-text > & {
      font-size: inherit;
    }
  }

  // BUTTON LINK
  .vp-link-button {
    appearance: none;
    align-items: center;
    background-color: var(--color-b-90);
    border: none;
    border-radius: 2px;
    box-shadow: 2px 4px 12px rgba(0,0,0, .2);
    color: var(--color-white);
    cursor: pointer;
    display: inline-flex;
    font-weight: var(--font-primary-weight-bold);
    font-size: var(--font-primary-text-size-m);
    height: var(--base-number-x-6);
    justify-content: center;
    outline: none;
    padding: 0 var(--base-number-x-4);
    text-decoration: none;
    transition: .4s ease;
    white-space: nowrap;

    &:hover {
      background-color: var(--color-b-100);
    }
  }
</style>