<template>
  <svg class="vp-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56">
    <g transform="translate(-24 -23)">
      <circle cx="28" cy="28" r="28" transform="translate(24 23)" fill="#fff"/>
      <path d="M6.188,0-.34-22.1H5.848L8.16-12.444q.476,1.768.816,3.5t.816,3.5h.136q.476-1.768.833-3.5t.8-3.5L13.8-22.1h5.984L13.26,0ZM21.9,0V-22.1h8.092a14.009,14.009,0,0,1,4.454.68,6.743,6.743,0,0,1,3.281,2.278,6.982,6.982,0,0,1,1.241,4.386,7.316,7.316,0,0,1-1.241,4.42A7.358,7.358,0,0,1,34.459-7.82,11.478,11.478,0,0,1,30.124-7h-2.38V0Zm5.848-11.628h2.108q3.4,0,3.4-3.128a2.344,2.344,0,0,0-.918-2.108,4.707,4.707,0,0,0-2.618-.612H27.744Z" transform="translate(33 63)" fill="#021927"/>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'vp-logo',
}
</script>

<style lang="scss">
  .vp-logo {
    transition: transform .4s;

    &:hover {
      transform: scale(1.1);
    }
  }
</style>