<template>
  <nav class="vp-nav-bar">
    <vp-section class="vp-nav-bar-content-mobile">
      <div class="vp-flex-row vp-inset-v:2" :style="'justify-content:space-between'">
        <nuxt-link class="vp-link" to="/">
          <vp-logo class="vp-height:5 vp-xs-height:6" />
        </nuxt-link>
        <vp-nav-toggle
          @click.native.prevent="toggleMenu"
          :class="{ 'vp-nav-toggle--active': showMenu }"
        />
      </div>
      <transition name="fade">
        <div
          v-if="showMenu"
          class="vp-flex-column vp-nav-menu vp-bg-gradient-dark"
        >
          <div class="vp-flex-column vp-nav-menu-content vp-flex-align-items:center vp-gutter-v:5">
            <nuxt-link class="vp-link vp-link--underline vp-link--on-dark vp-link--text-size-l"
              v-for="navigationLink in navigationLinks"
              :key="navigationLink.key"
              :to="navigationLink.route"
            >
              {{ navigationLink.label }}
            </nuxt-link>
            <div class="vp-flex-row vp-gutter-h:4 vp-flex-align-items-h:center">
              <vp-link href="https://nl.linkedin.com/in/pimsteketee" on-dark>
                <vp-social-icon icon-name="linkedin" class="vp-height:3" />
              </vp-link>
              <vp-link href="https://codepen.io/pims" on-dark>
                <vp-social-icon icon-name="codepen" class="vp-height:3" />
              </vp-link>
            </div>
          </div>
        </div>
      </transition>
    </vp-section>
    <vp-section class="vp-nav-bar-content-desktop">
      <div class="vp-flex-row vp-gutter-h:10">
        <nuxt-link class="vp-link" to="/">
          <vp-logo class="vp-height:5" />
        </nuxt-link>
        <div class="vp-flex-row vp-flex-align-items-v:center vp-gutter-h:4">
          <nuxt-link class="vp-link vp-link--underline vp-link--on-dark vp-link--semi-bold"
            v-for="navigationLink in navigationLinks"
            :key="navigationLink.key"
            :to="navigationLink.route"
          >
            {{ navigationLink.label }}
          </nuxt-link>
        </div>
      </div>
    </vp-section>
  </nav>
</template>

<script>
// JSON
import siteData from '@/json/siteData.json'

// VUE COMPONENTS
import VpHeading from '@/components/heading'
import VpLogo from '@/components/logo'
import VpText from '@/components/text'
import VpNavToggle from '@/components/nav-toggle'
import VpLink from '@/components/link'
import VpSocialIcon from '@/components/social-icon'
import VpSection from '@/components/section'

export default {
  name: 'vp-nav-bar',

  data() {
    return {
      showMenu: false,
      navigationLinks: siteData.navigationLinks
    }
  },

  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu
      this.showMenu ? document.body.style.overflow = 'hidden' : document.body.style.removeProperty('overflow')
    },
  },

  components: {
    VpSection,
    VpLogo,
    VpSocialIcon,
    VpLink,
    VpNavToggle,
    VpText,
    VpHeading
  }
}
</script>

<style lang="scss">
@import "~/assets/scss/mixins/breakpoints";

  .vp-nav-bar {
    background-color: var(--color-theme-a-100);
    border-bottom: 1px solid #16265f;
    position: fixed;
    left: 0;
    width: 100%;
  }

  // needs more specificity
  .vp-section {
    &.vp-nav-bar-content-desktop {
      display: none;
    }
  }

  .vp-nav-menu {
    position: fixed;
    inset: 0;
    z-index: 3;
  }

  .vp-nav-menu-content {
    height: 100%;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active {
    transition: opacity .15s;
  }

  .fade-leave-active {
    transition: .3s;
  }

  @include breakpoint-s {
    .vp-nav-bar {
      box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
      padding: var(--base-number-x-2) 0;
    }

    // needs more specificity
    .vp-section {
      &.vp-nav-bar-content-mobile {
        display: none;
      }

      &.vp-nav-bar-content-desktop {
        display: flex;
      }
    }
  }
</style>