<template>
  <a href="#" class="vp-nav-toggle">
    <div class="vp-flex-column vp-gutter-v:1 vp-flex-align-items-h:end">
      <div class="vp-nav-toggle-line vp-nav-toggle-line--1"></div>
      <div class="vp-nav-toggle-line vp-nav-toggle-line--2"></div>
      <div class="vp-nav-toggle-line vp-nav-toggle-line--3"></div>
    </div>
  </a>
</template>

<script>
export default {
  name: 'vp-nav-toggle',
}
</script>

<style lang="scss">
  .vp-nav-toggle {
    margin-right: calc(-1 * var(--base-number-x-1));
    padding: var(--base-number-x-1);
    outline: none;
    z-index: 5;
  }

  // DEFAULT STATE
  .vp-nav-toggle-line {
    border-bottom: 3px solid var(--color-white);
    border-radius: var(--base-number-x-1);
    transition: .2s ease-out;

    &--1 {
      width: 24px;
    }

    &--2 {
      width: 28px;
    }

    &--3 {
      width: 20px;
    }
  }

  // 'X' STATE
  .vp-nav-toggle--active {
    .vp-nav-toggle-line {
      width: var(--base-number-x-4);

      &--1 {
        transform: rotate(-45deg);
        transform-origin: top right;
      }

      &--2 {
        border-bottom-color: transparent;
      }

      &--3 {
        transform: rotate(45deg);
        transform-origin: bottom right;
      }
    }
  }
</style>