<template>
  <div class="vp-section">
    <div class="vp-section-content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'vp-section',
}
</script>

<style lang="scss">
@import "~/assets/scss/css-variables/base-number";
@import "~/assets/scss/mixins/breakpoints";

  .vp-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .vp-section-content {
      flex-grow: 1;
      padding: 0 var(--base-number-x-3);
    }

    .vp-nav-bar + & {
      margin-top: 73px;
    }

    @include breakpoint-xs {
      .vp-section-content {
        padding: 0 var(--base-number-x-8);
      }

      .vp-nav-bar + & {
        margin-top: 80px;
      }
    }

    @include breakpoint-s {
      .vp-section-content {
        padding: 0 var(--base-number-x-14);
        width: calc(100% - #{$base-number * 28}px);
      }

      .vp-nav-bar + & {
        margin-top: 73px;
      }
    }

    @include breakpoint-m {
      .vp-section-content {
         padding: 0;
         max-width: 1200px;
      }
    }

    @include breakpoint-l {
      .vp-section-content {
        max-width: 1400px;
      }
    }
  }
</style>