<template>
  <div>
    <svg
      v-if="iconName === 'linkedin'"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="vp-social-icon-svg"
    >
      <path d="M22.226,24H1.774a1.811,1.811,0,0,1-.69-.135A1.773,1.773,0,0,1,.52,23.5a1.711,1.711,0,0,1-.38-.546A1.661,1.661,0,0,1,0,22.281V1.719A1.662,1.662,0,0,1,.139,1.05,1.713,1.713,0,0,1,.52.5,1.773,1.773,0,0,1,1.083.135,1.81,1.81,0,0,1,1.774,0H22.226a1.81,1.81,0,0,1,.69.135A1.772,1.772,0,0,1,23.481.5a1.712,1.712,0,0,1,.38.547A1.663,1.663,0,0,1,24,1.719V22.281a1.663,1.663,0,0,1-.139.669,1.711,1.711,0,0,1-.38.546,1.772,1.772,0,0,1-.564.368A1.811,1.811,0,0,1,22.226,24ZM9.281,9.28c.046,1,0,10.707,0,10.8h3.591V14.052a2.38,2.38,0,0,1,.118-.876,2.24,2.24,0,0,1,.647-.9,1.845,1.845,0,0,1,1.2-.415,1.582,1.582,0,0,1,1.4.677,3.136,3.136,0,0,1,.422,1.766v5.78h3.591v-6.2a6.878,6.878,0,0,0-.314-2.16,4.133,4.133,0,0,0-.867-1.516,3.525,3.525,0,0,0-1.31-.894,4.46,4.46,0,0,0-1.643-.293,4.217,4.217,0,0,0-1.242.175,3.318,3.318,0,0,0-.911.44,4.03,4.03,0,0,0-1.083,1.168V9.28H9.281ZM3.7,9.28v10.8H7.293V9.28Zm1.82-5.209a2.393,2.393,0,0,0-.836.143,1.881,1.881,0,0,0-.641.393,1.731,1.731,0,0,0-.41.592,1.9,1.9,0,0,0-.145.739A1.8,1.8,0,0,0,4.656,7.659a2.257,2.257,0,0,0,.819.146H5.5a2.388,2.388,0,0,0,.845-.146,1.87,1.87,0,0,0,.64-.4A1.809,1.809,0,0,0,7.53,5.938,2.035,2.035,0,0,0,7.379,5.2a1.754,1.754,0,0,0-.4-.592A2.041,2.041,0,0,0,5.522,4.071Z" />
    </svg>
    <svg
      v-if="iconName === 'codepen'"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 256 256"
      fill="currentColor"
      class="vp-social-icon-svg"
    >
      <path d="M255.807 87.087c-.059-.31-.11-.62-.193-.924-.052-.183-.114-.355-.172-.535a11.007 11.007 0 0 0-.283-.8c-.076-.182-.162-.358-.245-.534a9.74 9.74 0 0 0-.376-.73c-.096-.176-.207-.342-.313-.51a11.038 11.038 0 0 0-.842-1.142 11.166 11.166 0 0 0-.544-.596c-.145-.145-.29-.29-.442-.431a9.07 9.07 0 0 0-.624-.52c-.165-.128-.327-.26-.5-.377-.061-.044-.117-.096-.182-.138L134.099 1.85a10.989 10.989 0 0 0-12.201 0l-117 77.998c-.065.041-.116.093-.182.138-.172.12-.334.248-.5.376a15.52 15.52 0 0 0-.624.517 8.604 8.604 0 0 0-.438.43c-.193.194-.372.39-.548.597-.13.155-.255.31-.376.483-.165.217-.317.438-.465.669-.107.169-.214.334-.314.51a9.593 9.593 0 0 0-.372.724c-.083.176-.172.355-.245.534-.107.262-.2.531-.286.8-.058.18-.12.355-.169.517-.08.303-.138.61-.193.924-.03.159-.069.314-.09.476-.062.475-.096.951-.096 1.437v78.016c0 .482.034.965.103 1.437.025.173.07.31.104.476.055.31.103.62.207.931.048.172.103.345.172.534.086.276.172.552.276.804.072.172.172.344.241.517.114.241.242.482.38.734.096.172.206.345.31.503.148.242.31.449.482.655.121.173.242.31.38.476.175.207.344.414.551.597.141.137.276.31.448.413.2.173.414.345.62.524.166.138.346.242.483.376.066.034.104.103.173.134l116.968 78.04a10.815 10.815 0 0 0 6.102 1.851 11.06 11.06 0 0 0 6.102-1.85l117-78c.065-.04.12-.089.182-.134.172-.12.334-.248.5-.375.214-.17.424-.345.624-.524.151-.135.296-.283.441-.428a9.876 9.876 0 0 0 .92-1.072c.166-.217.318-.441.466-.669.107-.165.214-.334.314-.503.138-.242.258-.486.375-.734.083-.176.17-.352.245-.531.107-.266.197-.535.283-.804.058-.179.12-.355.172-.534.08-.303.135-.614.193-.924.028-.159.07-.314.086-.476.063-.475.097-.951.097-1.437V89c0-.486-.038-.962-.097-1.438-.027-.169-.079-.306-.113-.475h.017zm-127.81 66.935l-38.905-26.021 38.905-26.025 38.907 26.025-38.907 26.021zm-10.998-71.155l-47.692 31.9L30.81 89.013 117 31.555v51.312zm-67.477 45.13l-27.517 18.406v-36.811l27.517 18.405zm19.785 13.245L117 173.138v51.312l-86.19-57.465 38.498-25.75v.007zm69.69 31.89l47.692-31.896 38.501 25.749-86.193 57.458v-51.312zm67.477-45.128l27.521-18.409v36.815l-27.52-18.413v.007zm-19.785-13.238L138.997 82.87V31.555l86.193 57.459-38.5 25.752z"/>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'vp-social-icon',

  props: {
    iconName: {
      type: String,
    }
  },
}
</script>

<style lang="scss">
  .vp-social-icon-svg {
    height: inherit;
  }
</style>