<template>
  <p
    class="vp-text"
    :class="{ 'vp-text--on-dark': onDark }"
  >
    <slot />
  </p>
</template>

<script>
export default {
  name: 'vp-text',

  props: {
    onDark: {
      type: Boolean
    }
  }
}
</script>

<style lang="scss">
  .vp-text {
    color: var(--color-theme-a-100);
    font-size: var(--font-primary-text-size-l);
    font-weight: var(--font-primary-weight-regular);
    line-height: var(--font-primary-line-height-m);
    margin: 0;

    &--on-dark {
      color: var(--color-white);
    }

    &--small {
      font-size: var(--font-primary-text-size-s);
    }

    &--medium {
      font-size: var(--font-primary-text-size-m);
    }

    &--xxlarge {
      font-size: var(--font-primary-text-size-xxl);
    }
  }
</style>