<template>
  <div class="vp-flex-column vp-gutter-v:1">
    <vp-label class="vp-flex-align-self-h:start" :for="labelFor">{{labelText}}</vp-label>
      <textarea
        v-model="inputValue"
        :id="labelFor"
        class="vp-textarea"
        :class="{'vp-textarea--error': errorState}"
        :name="name"
        @blur="$emit('blur')"
      />
    <vp-text
      v-if="errorState"
      class="vp-error-message vp-inset-h:1"
    >
      {{ errorMessage }}
    </vp-text>
  </div>
</template>

<script>
import VpText from '@/components/text'
import VpLabel from '@/components/label'

export default {
  name: 'vp-textarea',

  components: {
    VpLabel,
    VpText
  },

  data() {
    return {
      errorState: false,
      inputValue: ''
    }
  },

  props: {
    errorMessage: {
      type: String
    },

    labelFor: {
      type: String,
      required: true
    },

    labelText: {
      type: String,
      required: true
    },

    name: {
      type: String,
      required: true
    },
  }
}
</script>

<style lang="scss">
  @import "~/assets/scss/mixins/input-field";

  .vp-textarea {
    @include input-field;
    height: var(--base-number-x-20);
    resize: none;

    &--error {
      border-color: var(--color-error-100);
    }
  }

  .vp-error-message {
    border-left: 4px solid var(--color-error-100);
    color: var(--color-error-100);
    font-size: var(--font-primary-text-size-m);
    line-height: var(--font-primary-line-height-m);
  }
</style>