@mixin breakpoint-xs {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin breakpoint-s {
  @media screen and (min-width: 1050px) {
    @content;
  }
}

@mixin breakpoint-m {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin breakpoint-l {
  @media screen and (min-width: 1800px) {
    @content;
  }
}