@mixin input-field {
  appearance: none;
  border: 1px solid var(--color-gray-20);
  border-radius: 2px;
  color: var(--color-a-100);
  font-size: var(--font-primary-text-size-m);
  font-weight: var(--font-primary-weight-regular);
  outline: none;
  padding: calc(var(--base-number-x-1) * 1.5) ;
  transition: .1s ease-out;

  &:focus {
    border-color: var(--color-a-80);
    box-shadow: 0 0 0 3px var(--color-b-10);
  }

  &--error {
    border-color: var(--color-error-100);

    &:focus {
      border-color: var(--color-error-100);
    }
  }
}