@mixin var-colors {
  // GRAYSCALE
  --color-black: #000000;
  --color-white: #FFFFFF;

  // GRAY TONES
  --color-gray-10: #F5F5F5;
  --color-gray-20: #C7C7C7;

  // PRIMARY
  --color-a-100: #021927;
  --color-a-95: #07344f;
  --color-a-90: #003F4D;
  --color-a-80: #0D697F;
  --color-a-10: #D6FFF9;

  // SECONDARY
  --color-b-100: #0056BA;
  --color-b-90: #006CEA;
  --color-b-10: #C6EDF4;

  // ERROR
  --color-error-100: #ec3f32;

  // THEME COLORS
  --color-theme-a-100: #070f2f;
  --color-theme-b-100: #d23505;
}