@mixin var-typography {
  // PRIMARY FONT
  --font-primary: 'Mada', sans-serif;

  // PRIMARY FONT - WEIGHTS
  --font-primary-weight-extra-light: 200;
  --font-primary-weight-light: 300;
  --font-primary-weight-regular: 400;
  --font-primary-weight-medium: 500;
  --font-primary-weight-semi-bold: 600;
  --font-primary-weight-bold: 700;
  --font-primary-weight-black: 900;

  // PRIMARY FONT - TEXT SIZES
  // --font-primary-text-size-xs: 14px;
  // --font-primary-text-size-s: 16px;
  --font-primary-text-size-m: 18px;
  --font-primary-text-size-l: 20px;
  --font-primary-text-size-xl: 22px;
   --font-primary-text-size-xxl: 24px;

  // PRIMARY FONT - HEADING SIZES
  --font-primary-heading-size-xs: 18px;
  --font-primary-heading-size-s: 20px;
  --font-primary-heading-size-m: 26px;
  --font-primary-heading-size-l: 32px;
  --font-primary-heading-size-xl: 40px;
  --font-primary-heading-size-xxl: 48px;
  // --font-primary-heading-size-xxxl: 56px;

  // LINE HEIGHTS
  --font-primary-line-height-xs: 1.15;
  --font-primary-line-height-s: 1.25;
  --font-primary-line-height-m: 1.5;
  --font-primary-line-height-l: 1.75;
  --font-primary-line-height-xl: 2;
  --font-primary-line-height-xxl: 2.5;
}