<template>
  <div class="vp-flex-column vp-page-layout">
    <vp-header>
      <vp-nav-bar />
      <vp-section class="vp-flex-column vp-bg-gradient-dark">
        <div class="vp-s-grid-columns:12 vp-s-grid-gap-h:3">
          <div class="vp-grid-regular vp-flex-column vp-inset-v:8 vp-s-inset-v:12 vp-gutter-v:4">
            <vp-heading on-dark tag-level="1">Hulp nodig met een website?</vp-heading>
            <vp-text on-dark class="vp-text--xxlarge">Vul dan hieronder jouw gegevens in en stel je vraag. Ik zal mijn reactie zo spoedig mogelijk terugsturen naar het opgegeven e-mailadres.</vp-text>
          </div>
        </div>
      </vp-section>
    </vp-header>
    <vp-main>
      <vp-section class="vp-bg-solid-white">
        <div class="vp-s-grid-columns:12 vp-s-grid-gap-h:3">
          <div class="vp-grid-regular vp-flex-column vp-inset-v:4 vp-xs-inset-v:7 vp-s-inset-v:10 vp-gutter-v:3">
            <vp-heading tag-level="2" visual-level="1">Neem contact op</vp-heading>
            <div class="vp-grid-columns:1 vp-xs-grid-columns:3 vp-grid-gap:6">
                <vp-contact-form class="vp-xs-grid-column-span:2" />
                <div class="vp-flex-column vp-bg-solid-gray-10 vp-inset:3 vp-flex-align-self-h:start vp-gutter-v:2">
                  <div class="vp-column">
                    <vp-heading tag-level="2" visual-level="5">Pim Steketee</vp-heading>
                    <vp-text class="vp-text--small">Waddinxveen</vp-text>
                  </div>
                  <div class="vp-column">
                    <vp-heading tag-level="2" visual-level="5">E-mail</vp-heading>
                    <vp-text class="vp-text--small">info@vanpim.nl</vp-text>
                  </div>
                  <div class="vp-column">
                    <vp-heading tag-level="2" visual-level="5">KVK-nummer</vp-heading>
                    <vp-text class="vp-text--small">{{ kvkNumber }}</vp-text>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </vp-section>
    </vp-main>
    <vp-footer />
  </div>
</template>

<script>
// JSON
import siteData from '@/json/siteData.json'

import VpHeading from '~/components/heading'
import VpNavBar from '~/components/nav-bar'
import VpFooter from '~/components/footer'
import VpMain from '~/components/main'
import VpText from '@/components/text'
import VpSection from '@/components/section'
import VpHeader from '@/components/header'
import VpLink from '@/components/link'
import VpContactForm from '@/components/contact-form'

  export default {
    components: {
      VpContactForm,
      VpLink,
      VpHeader,
      VpSection,
      VpText,
      VpMain,
      VpFooter,
      VpNavBar,
      VpHeading
    },

    head() {
      return {
        title: this.title,

        // add metadata
        // meta: [
        // ]
      }
    },

    data() {
      return {
        title: 'Contact — van Pim',
        kvkNumber: siteData.kvkNumber
      }
    },

    mounted() {
      document.body.style.removeProperty('overflow')
    }
  }
</script>