<template>
  <div class="vp-flex-column vp-page-layout">
    <vp-header>
      <vp-nav-bar />
      <vp-section class="vp-bg-gradient-dark">
        <div class="vp-s-grid-columns:12 vp-s-grid-gap-h:3">
          <div class="vp-grid-regular vp-flex-column vp-inset-v:8 vp-s-inset-v:12 vp-gutter-v:4">
            <vp-heading on-dark tag-level="1">Diensten</vp-heading>
            <vp-text on-dark class="vp-text--xxlarge">Ik kan je op verschillende manieren helpen met een bestaande of een nieuwe website. Op deze pagina lees je meer over de diensten die ik aanbied en wat je van mij kunt verwachten.</vp-text>
          </div>
        </div>
      </vp-section>
    </vp-header>
    <vp-main>
      <vp-section class="vp-bg-solid-white">
        <div class="vp-s-grid-columns:12 vp-s-grid-gap-h:3">
          <div class="vp-grid-regular vp-inset-v:4 vp-xs-inset-v:7 vp-s-inset-v:10 vp-gutter-v:5 vp-s-gutter-v:8">
            <div class="vp-flex-column vp-gutter-v:3">
              <vp-heading tag-level="2" visual-level="1">Website verbeteren</vp-heading>
              <div class="vp-flex-column vp-gutter-v:1">
                <vp-heading tag-level="3">Algemene aanpak</vp-heading>
                <vp-text>Door gebruik van de juiste HTML wordt de algemene structuur van een webpagina goed neergezet. Deze HTML elementen kan ik met CSS de gewenste styling geven, zodat een webpagina er fraai uit komt te zien. Ook kan ik door te programmeren met Javascript extra functionaliteit en interactie aan de website toevoegen.</vp-text>
              </div>
              <div class="vp-flex-column vp-gutter-v:1">
                <vp-heading tag-level="3">Layout verbeteringen</vp-heading>
                <vp-text>Kan het design van jouw website wel een opfrisser gebruiken? Vaak kunnen kleine verbeteringen aan de code voor de layout (CSS) al een groot verschil maken. Het is natuurlijk ook mogelijk om de hele website in een nieuw jasje te steken. Het is dan niet nodig om een nieuwe website te laten bouwen, zodat de kosten laag blijven.</vp-text>
              </div>
              <div class="vp-flex-column vp-gutter-v:1">
                <vp-heading tag-level="3">Responsive maken</vp-heading>
                <vp-text>Er zijn veel (verouderde) websites die nog niet goed werken op een mobiele telefoon of tablet. Een website is responsive als deze goed functioneert op ieder schermformaat: van mobiel, tablet en desktop tot een ultrawide beeldscherm. Kleine verbeteringen aan de layout en de interactie kunnen dan al veel winst opleveren. Dit hoeven geen ingrijpende veranderingen te zijn, zodat de kosten ook hier relatief laag blijven.</vp-text>
              </div>
            </div>
            <div class="vp-flex-column vp-gutter-v:3">
              <vp-heading tag-level="2" visual-level="1">Website bouwen</vp-heading>
              <div class="vp-flex-column vp-gutter-v:1">
                <vp-heading tag-level="3">Front-end development</vp-heading>
                <vp-text>Voor de bouw van jouw nieuwe website kan ik alle front-end code maken. Door het schrijven van de juiste HTML, CSS en Javascript lever ik een totaalpakket aan front-end code op.</vp-text>
                <vp-text>Van te voren zullen we samen bepalen wat de uitgangspunten zijn van de website, welke technieken ik zal gebruiken en welke functionaliteiten er gebouwd moeten worden.</vp-text>
              </div>
              <div class="vp-flex-column vp-gutter-v:1">
                <vp-heading tag-level="3">Moderne webtechnieken</vp-heading>
                <vp-text>Door moderne front-end technieken toe te passen zorg ik dat jouw website op dit vlak altijd voldoet aan de huidige standaarden. Ik streef er altijd naar om de nieuwste CSS- en Javascript technieken in te zetten vanaf het moment dat deze voldoende stabiel zijn. Zo kun je jaren vooruit en is de kans erg klein dat er regelmatig onderhoud aan de front-end code uitgevoerd moet worden.</vp-text>
              </div>
              <div class="vp-flex-column vp-gutter-v:1">
                <vp-heading tag-level="3">Browser support</vp-heading>
                <vp-text>Jouw website moet in alle populaire browsers goed functioneren waaronder Chrome, Edge, Firefox en Safari. De verschillen tussen deze browsers zijn niet meer zo groot als enkele jaren geleden. Ondanks dat is browser support nog steeds een belangrijk onderdeel van front-end development.</vp-text>
                <div class="vp-flex-row vp-flex-align-items-h:center vp-gutter-h:3 vp-s-gutter-h:4 vp-inset-v:3">
                  <img src="/svg/chrome.svg" alt="Chrome" title="Chrome" class="vp-height:6 vp-s-height:7">
                  <img src="/svg/edge.svg" alt="Edge" title="Edge" class="vp-height:6 vp-s-height:7">
                  <img src="/svg/firefox.svg" alt="Firefox" title="Firefox" class="vp-height:6 vp-s-height:7">
                  <img src="/svg/safari.svg" alt="Safari" title="Safari" class="vp-height:6 vp-s-height:7">
                </div>
              </div>
              <div class="vp-flex-column vp-gutter-v:1">
                <vp-heading tag-level="3">Samenwerken</vp-heading>
                <vp-text>Ik ben geen back-end developer, daardoor kan ik je niet helpen met de server of database. Ik ben altijd bereid om samen te werken met een (door jou gekozen) back-end developer.</vp-text>
              </div>
            </div>
            <div class="vp-flex-column vp-gutter-v:3">
              <vp-heading tag-level="2" visual-level="1">Website ontwerpen</vp-heading>
              <div class="vp-flex-column vp-gutter-v:1">
                <vp-heading tag-level="3">Visueel ontwerp</vp-heading>
                <vp-text>De ontwikkeling van een nieuwe website begint met een goed concept, zodat er op basis daarvan ontwerp gemaakt kan worden. Ik kan jouw wensen vertalen naar een design voor één of meerdere webpagina's in de gewenste stijl.</vp-text>
                <vp-text>Zodra ik alle wensen heb verzameld, kan ik beginnen aan het ontwerp. Tijdens de ontwerpfase geef ik updates over mijn vorderingen en hoor ik graag jouw feedback. Het ontwerp kan daarmee worden bijgeschaafd, zodat het uiteindelijk volledig voldoet aan jouw verwachtingen.</vp-text>
              </div>
            </div>
            <div id="vp-grid-faq" class="vp-gutter-v:3 vp-s-gutter-v:4">
              <vp-heading tag-level="2" visual-level="1">Veelgestelde vragen</vp-heading>
              <div class="vp-flex-column vp-gutter-v:2">
                <vp-accordion-item>
                  <template v-slot:accordion-header>
                    <vp-heading tag-level="4" visual-level="5">Wat kost het om mijn bestaande website aan te laten passen?</vp-heading>
                  </template>
                  <template v-slot:accordion-body>
                    <div class="vp-flex-column vp-gutter-v:2">
                      <vp-text class="vp-text--medium">Dit hangt uiteraard af van het type aanpassing en de omvang daarvan, maar bij benadering kan de volgende indicatie aangehouden worden:</vp-text>
                      <vp-text class="vp-text--medium">Kleinere layout verbeteringen kosten meestal tussen de €50,- en €250,-. Voor grote layout verbeteringen is dit €250,- tot €500, als de hele website verbeterd moet worden kunnen we in overleg een prijs afspreken.</vp-text>
                    </div>
                  </template>
                </vp-accordion-item>
                <vp-accordion-item>
                  <template v-slot:accordion-header>
                    <vp-heading tag-level="4" visual-level="5">Wat kost het om een nieuwe website te laten maken?</vp-heading>
                  </template>
                  <template v-slot:accordion-body>
                    <div class="vp-flex-column vp-gutter-v:2">
                      <vp-text class="vp-text--medium">Om een prijs te kunnen bepalen is het van belang om te weten wat de precieze wensen zijn. Een informatieve website met weinig complexe functionaliteit hoeft niet veel te kosten, dit begint bij €500,- en kan oplopen tot €2000,-. </vp-text>
                      <vp-text class="vp-text--medium">Grotere websites zijn te realiseren vanaf ongeveer €1750,- en afhankelijk van de hoeveelheid aan functionaliteiten kan dit bedrag oplopen.</vp-text>
                      <vp-text class="vp-text--medium">Je kunt altijd <nuxt-link class="vp-link" to="/contact">contact opnemen</nuxt-link> als je een vraag hebt over het laten ontwerpen of bouwen van een website. Dan kunnen we samen jouw wensen doornemen en een schappelijke prijs bepalen.</vp-text>
                    </div>
                  </template>
                </vp-accordion-item>
                <vp-accordion-item>
                  <template v-slot:accordion-header>
                    <vp-heading tag-level="4" visual-level="5">Hoe lang duurt het om aanpassingen te verwerken?</vp-heading>
                  </template>
                  <template v-slot:accordion-body>
                    <div class="vp-flex-column vp-gutter-v:2">
                      <vp-text class="vp-text--medium">Kleine aanpassingen worden gemiddeld binnen 1 tot 3 dagen afgerond. Grote aanpassingen duren meestal 5 tot 7 dagen.</vp-text>
                      <vp-text class="vp-text--medium">De drukte kan daarin nog meespelen, maar voordat ik begin aan de opdracht geef ik altijd een tijdsindicatie zodat je weet waar je aan toe bent.</vp-text>
                    </div>
                  </template>
                </vp-accordion-item>
                <vp-accordion-item>
                  <template v-slot:accordion-header>
                    <vp-heading tag-level="4" visual-level="5">Kun je voor mij een Wordpress website bouwen?</vp-heading>
                  </template>
                  <template v-slot:accordion-body>
                    <div class="vp-flex-column vp-gutter-v:2">
                      <vp-text class="vp-text--medium">Op dit moment niet. In het verleden heb ik verschillende Wordpress websites gebouwd, maar dit is niet mijn specialiteit. Heb je hier een vraag over, stel deze dan gerust. Misschien kan ik je toch helpen en meedenken over een oplossingsrichting.</vp-text>
                      <vp-text class="vp-text--medium">Ook voor Wordpress websites geldt namelijk dat ik in veel gevallen wel de styling en de layout kan verbeteren.</vp-text>
                    </div>
                  </template>
                </vp-accordion-item>
                <vp-accordion-item>
                  <template v-slot:accordion-header>
                    <vp-heading tag-level="4" visual-level="5">Doe je ook back-end development?</vp-heading>
                  </template>
                  <template v-slot:accordion-body>
                    <div class="vp-flex-column vp-gutter-v:2">
                      <vp-text class="vp-text--medium">Nee, ik ben geen back-end developer. Wel zijn er steeds meer front-end technieken beschikbaar voor onderdelen die voorheen alleen tot het domein van back-end behoorden. Afhankelijk van je vraag kan ik je hier misschien bij helpen.</vp-text>
                      <vp-text class="vp-text--medium">Ik ben ook altijd bereid om samen te werken met een (door jou gekozen) back-end developer.</vp-text>
                    </div>
                  </template>
                </vp-accordion-item>
              </div>
            </div>
          </div>
        </div>
      </vp-section>
      <vp-section class="vp-bg-solid-gray-10">
        <div class="vp-flex-row vp-flex-wrap vp-flex-align-items-h:center vp-inset-v:4">
          <div class="vp-flex-column vp-gutter-v:1">
            <vp-heading tag-level="4" visual-level="3">Hulp nodig met een website?</vp-heading>
            <vp-text>Neem dan contact met mij op.</vp-text>
          </div>
          <div class="vp-flex-column vp-inset-v:2 vp-inset-h:4 vp-s-inset-h:10">
            <nuxt-link
              to="/contact"
              class="vp-link-button">
              Contact opnemen
            </nuxt-link>
          </div>
        </div>
      </vp-section>
    </vp-main>
    <vp-footer />
  </div>
</template>

<script>
import VpHeading from '~/components/heading'
import VpNavBar from '~/components/nav-bar'
import VpFooter from '~/components/footer'
import VpMain from '~/components/main'
import VpText from '@/components/text'
import VpSection from '@/components/section'
import VpHeader from '@/components/header'
import VpLink from '@/components/link'
import VpAccordionItem from '@/components/accordion-item'

  export default {
    components: {
      VpAccordionItem,
      VpLink,
      VpHeader,
      VpSection,
      VpText,
      VpMain,
      VpFooter,
      VpNavBar,
      VpHeading
    },

    data() {
      return {
        title: 'Diensten — van Pim'
      }
    },
  
    head() {
      return {
        title: this.title,

        // add metadata
        // meta: [
        // ]
      }
    },

    mounted() {
      document.body.style.removeProperty('overflow')
    }
  }
</script>