<template>
  <div class="vp-flex-column vp-page-layout">
    <vp-header>
      <vp-nav-bar />
      <vp-section class="vp-bg-gradient-dark">
        <div class="vp-s-grid-columns:12 vp-s-grid-gap-h:3">
          <div class="vp-grid-regular vp-flex-column vp-inset-v:8 vp-s-inset-v:10 vp-gutter-v:8">
            <div class="vp-flex-column vp-flex-column--emphasis">
              <vp-heading on-dark tag-level="1">Pim Steketee</vp-heading>
              <vp-text on-dark>Front-end developer</vp-text>
              <vp-text on-dark>Webdesigner</vp-text>
            </div>
            <div class="vp-flex-column vp-gutter-v:5 vp-s-gutter-v:7">
              <div class="vp-flex-column vp-gutter-v:3">
                <vp-text on-dark class="vp-text--xxlarge">Ik help kleine bedrijven en zelfstandigen met hun website. De opties lopen uiteen van aanpassingen aan de layout tot het toevoegen van nieuwe interacties en functionaliteiten.</vp-text>
                <vp-text on-dark class="vp-text--xxlarge">Ook is het mogelijk om een nieuwe website te laten ontwerpen en te bouwen. Op deze website kun je meer lezen over de mogelijkheden en mijn werkwijze.</vp-text>
              </div>
              <div class="vp-flex-column">
                <nuxt-link
                  to="/diensten"
                  class="vp-link-button vp-flex-align-self-h:center"
                >
                  Mijn diensten bekijken
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </vp-section>
    </vp-header>
    <vp-main>
      <vp-section class="vp-bg-solid-white">
        <div class="vp-s-grid-columns:12 vp-s-grid-gap-h:3">
          <div class="vp-grid-regular vp-gutter-v:5 vp-s-gutter-v:6 vp-inset-v:4 vp-xs-inset-v:7 vp-s-inset-v:10">
            <div class="vp-flex-column vp-gutter-v:2">
              <vp-heading tag-level="2" visual-level="1">Front-end development</vp-heading>
              <vp-text>Als front-end developer werk ik aan uitdagende webapplicaties en websites. Tijdens mijn werk kom ik aanraking met veel van de moderne front-end technieken die nu in de development wereld worden gebruikt. De afgelopen jaren heb ik met deze technieken ervaring op kunnen doen.</vp-text>
            </div>
            <div class="vp-flex-column vp-gutter-v:2">
              <vp-heading tag-level="2" visual-level="1">Webdesign</vp-heading>
              <vp-text>Naast het coderen heb ik een achtergrond in grafisch ontwerp en webdesign. Ik kan helpen door een (her)ontwerp te maken van jouw website. Door mijn kennis van ontwerpen en coderen te combineren kan ik het ontwerp vervolgens tot leven laten komen met code.</vp-text>
            </div>
            <div class="vp-flex-column vp-gutter-v:2">
              <vp-heading tag-level="2" visual-level="1">Vaardigheden</vp-heading>
              <vp-text>Op dit moment werk ik veel met de volgende talen, technieken en software:</vp-text>
              </div>
            <div class="vp-flex-column vp-gutter-v:2">
              <div class="homepage-logos--mobile vp-flex-column vp-gutter-v:7 vp-inset-v:2 vp-flex-align-items-h:center">
                <img src="/svg/html.svg" style="width: var(--base-number-x-7)" alt="HTML" title="HTML" />
                <img src="/svg/css.svg" style="width: var(--base-number-x-7)" alt="CSS" title="CSS" />
                <img src="/svg/javascript.svg" style="width: var(--base-number-x-7)" alt="Javascript" title="Javascript" />
                <img src="/svg/jquery.svg" style="width: var(--base-number-x-11)" alt="JQuery" title="JQuery" />
                <img src="/svg/vue.svg" style="width: var(--base-number-x-7)" alt="Vue JS" title="Vue JS" />
                <img src="/svg/nuxt.svg" style="width: var(--base-number-x-15)" alt="Nuxt JS" title="Nuxt JS" />
                <img src="/svg/bootstrap.svg" style="width: var(--base-number-x-7)" alt="Bootstrap" title="Bootstrap" />
                <img src="/svg/sass.svg" style="width: var(--base-number-x-10)" alt="Sass" title="Sass" />
                <img src="/svg/npm.svg" style="width: var(--base-number-x-10)" alt="NPM" title="NPM" />
                <img src="/svg/netlify.svg" style="width: var(--base-number-x-15)" alt="Netlify" title="Netlify" />
                <img src="/svg/git.svg" style="width: var(--base-number-x-11)" alt="Git" title="Git" />
                <div class="vp-flex-column vp-gutter-v:1">
                  <div class="vp-flex-row vp-gutter-h:1">
                    <img src="/svg/adobe-illustrator.svg" style="height: var(--base-number-x-7)" alt=" Adobe Illustrator" title="Adobe Illustrator" />
                    <img src="/svg/adobe-photoshop.svg" style="height: var(--base-number-x-7)" alt="Adobe Photoshop" title="Adobe Photoshop" />
                  </div>
                  <div class="vp-flex-row vp-gutter-h:1">
                    <img src="/svg/adobe-xd.svg" style="height: var(--base-number-x-7)" alt="Adobe XD" title="Adobe XD" />
                    <img src="/svg/adobe-indesign.svg" style="height: var(--base-number-x-7)" alt="Adobe Indesign" title="Adobe Indesign" />
                  </div>
                </div>
                <img src="/svg/sketch.svg" style="width: var(--base-number-x-8)" alt="Sketch" title="Sketch" />
              </div>
              <div class="homepage-logos--desktop vp-flex-column vp-gutter-v:7">
                <div class="vp-flex-row vp-gutter-h:7 vp-flex-align-items-h:center">
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/html.svg" style="width: var(--base-number-x-7)" alt="HTML" title="HTML" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/css.svg" style="width: var(--base-number-x-7)" alt="CSS" title="CSS" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/javascript.svg" style="width: var(--base-number-x-7)" alt="Javascript" title="Javascript" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/jquery.svg" style="width: var(--base-number-x-11)" alt="JQuery" title="JQuery" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/vue.svg" style="width: var(--base-number-x-7)" alt="Vue JS" title="Vue JS" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/nuxt.svg" style="width: var(--base-number-x-15)" alt="Nuxt JS" title="Nuxt JS" />
                  </div>
                </div>
                <div class="vp-flex-row vp-gutter-h:7 vp-flex-align-items-h:center">
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/bootstrap.svg" style="width: var(--base-number-x-7)" alt="Bootstrap" title="Bootstrap" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/sass.svg" style="width: var(--base-number-x-10)" alt="Sass" title="Sass" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/npm.svg" style="width: var(--base-number-x-10)" alt="NPM" title="NPM" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/netlify.svg" style="width: var(--base-number-x-15)" alt="Netlify" title="Netlify" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/git.svg" style="width: var(--base-number-x-11)" alt="Git" title="Git" />
                  </div>
                </div>
                <div class="vp-flex-row vp-gutter-h:7 vp-flex-align-items-h:center">
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/adobe-photoshop.svg" style="height: var(--base-number-x-7)" alt="Adobe Photoshop" title="Adobe Photoshop" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/adobe-illustrator.svg" style="height: var(--base-number-x-7)" alt=" Adobe Illustrator" title="Adobe Illustrator" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/adobe-indesign.svg" style="height: var(--base-number-x-7)" alt="Adobe Indesign" title="Adobe Indesign" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/adobe-xd.svg" style="height: var(--base-number-x-7)" alt="Adobe XD" title="Adobe XD" />
                  </div>
                  <div class="vp-flex-column vp-flex-align-items-v:center">
                    <img src="/svg/sketch.svg" style="width: var(--base-number-x-8)" alt="Sketch" title="Sketch" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vp-section>
      <vp-section class="vp-bg-solid-gray-10">
        <div class="vp-flex-row vp-flex-wrap vp-flex-align-items-h:center vp-inset-v:4">
          <div class="vp-flex-column vp-gutter-v:1">
            <vp-heading tag-level="4" visual-level="3">Hulp nodig met een website?</vp-heading>
            <vp-text>Neem dan contact met mij op.</vp-text>
          </div>
          <div class="vp-flex-column vp-inset-v:2 vp-inset-h:4 vp-s-inset-h:10">
            <nuxt-link
              to="/contact"
              class="vp-link-button">
              Contact opnemen
            </nuxt-link>
          </div>
        </div>
      </vp-section>
    </vp-main>
    <vp-footer />
  </div>
</template>

<script>
import VpHeading from '~/components/heading'
import VpNavBar from '~/components/nav-bar'
import VpFooter from '~/components/footer'
import VpMain from '~/components/main'
import VpText from '@/components/text'
import VpSection from '@/components/section'
import VpHeader from '@/components/header'
import VpLink from '@/components/link'

  export default {
    components: {
      VpLink,
      VpHeader,
      VpSection,
      VpText,
      VpMain,
      VpFooter,
      VpNavBar,
      VpHeading
    },

    data() {
      return {
        title: 'Front-end & Webdesign — van Pim'
      }
    },
  
    head() {
      return {
        title: this.title,

        // add metadata
        // meta: [
        // ]
      }
    },

    mounted() {
      document.body.style.removeProperty('overflow')
    }
  }
</script>

<style lang="scss">
  @import "~/assets/scss/mixins/breakpoints";

  .homepage-logos--desktop {
    display: none;
  }

  @include breakpoint-s {
    .homepage-logos--mobile {
      display: none;
    }

    .homepage-logos--desktop {
      display: flex;
    }
  }
</style>