<template>
  <div class="vp-flex-column vp-page-layout">
    <vp-header>
      <vp-nav-bar />
      <vp-section class="vp-bg-solid-white">
        <div class="vp-s-grid-columns:12 vp-s-grid-gap-h:3">
          <div class="vp-grid-regular vp-flex-column vp-inset-v:8 vp-s-inset-v:12 vp-gutter-v:5">
            <div class="vp-flex-column vp-gutter-v:3">
              <vp-heading tag-level="1">Bericht is verzonden.</vp-heading>
              <vp-text class="vp-text--xxlarge">Ik neem zo spoedig mogelijk contact met je op.</vp-text>
            </div>
            <div class="vp-flex-column">
              <nuxt-link
                to="/"
                class="vp-link-button vp-flex-align-self-h:center"
              >
                Ga terug naar home
              </nuxt-link>
            </div>
          </div>
        </div>
      </vp-section>
    </vp-header>
  </div>
</template>

<script>
import VpHeading from '~/components/heading'
import VpNavBar from '~/components/nav-bar'
import VpFooter from '~/components/footer'
import VpMain from '~/components/main'
import VpText from '@/components/text'
import VpSection from '@/components/section'
import VpHeader from '@/components/header'
import VpLink from '@/components/link'
import VpTextarea from '@/components/textarea'
import VpInput from '@/components/input'
import VpContactForm from '@/components/contact-form'

  export default {
    components: {
      VpContactForm,
      VpInput,
      VpTextarea,
      VpLink,
      VpHeader,
      VpSection,
      VpText,
      VpMain,
      VpFooter,
      VpNavBar,
      VpHeading
    },

    head() {
      return {
        title: this.title,

        // add metadata
        // meta: [
        // ]
      }
    },

    data() {
      return {
        title: 'Contact — van Pim',
      }
    },

    mounted() {
      document.body.style.removeProperty('overflow')
    }
  }
</script>